
insidergram/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

insidergram/src/main/java/com/spring/biz/common/JDBCUtil.java

insidergram/target/m2e-wtp/web-resources/META-INF/maven/com.spring/biz/pom.properties
