<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMessageDAO">
	
	<select id="getChatMessageList" resultType="com.spring.biz.chat.ChatMessageVO" parameterType="int">
		SELECT CM.M_IDX, CM.H_IDX, CM.CONTENT, CM.TIME, CM.READ, CM.U_ID, U.NAME u_name, U.U_PIC
		FROM CHAT_MESSAGE CM JOIN USER_INFO U
		ON CM.U_ID = U.U_ID
		WHERE CM.H_IDX = #{h_idx}
		ORDER BY M_IDX
	</select>
	<insert id="insertChatMessage" parameterType="com.spring.biz.chat.ChatMessageVO">
		INSERT INTO CHAT_MESSAGE
    	VALUES ((SELECT NVL(MAX(M_IDX), 0) + 1 FROM CHAT_MESSAGE), #{h_idx}, #{content}, TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS'), '0', #{u_id})
	</insert>
	
	<select id="openChat" resultType="com.spring.biz.chat.ChatMessageVO" parameterType="map">
		SELECT * FROM CHAT_MESSAGE
		WHERE (FROM_ID = #{my_id} AND TO_ID = #{target_id}) OR (FROM_ID = #{target_id} AND TO_ID = #{my_id})
	</select>
</mapper>