<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feedDAO">
	
	<select id="getFeedList" resultType="feed">
		SELECT F.F_IDX, F.REGDATE, F.CONTENT, F.U_ID, F.F_PIC, U.U_PIC
  		FROM FEED F, USER_INFO U
 		WHERE F.U_ID = U.U_ID
	</select>
	
	
  	
</mapper>







